.Game {
    display: flex;
    flex-direction: column;
}

.VerticalSpacer {
    min-width: 10%;
}

.ActionBoard {
    margin-bottom: 40px;
}

.CentralDisplay {
    display: flex;
    flex-direction: row;
}

.AvailableRoomTiles {

}